@import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lekton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    padding: 50px 100px;
}
.brand-name{
    font-family: 'Lekton';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 35px;
}
.footer .brand-name{
    color: #1A1A1A;

}
.btnrequest{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(70px);
    padding: 10px 20px;
    border-radius: 21px;
}
.btnsubscribe img, .btnrequestdemo2 img {
    margin: 0 5px;
}
.btnrequestdemo2 , .btnsubscribe{
    color: #E3E3EA;
    background: #231A36;
    border-radius: 26px;
    padding: 10px 30px;
}
.section1{
    background: linear-gradient(265.05deg, #E73635 4%, #6AD5FF 87.25%);
    height: 520px;
}
.newsletter{
    display: flex;
    justify-content: center;
    color: white;
}
.newsletter-content{
    background: linear-gradient(265.05deg, #E73635 4%, #6AD5FF 87.25%);
border-radius: 20px;
padding:50px 0;
width: 700px;
text-align: center;
}
.newsletter-content p{
    margin: 20px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.83);
}
.features-title, .testimonials-title, .products-title{
   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #1F1F26;

}
.testimonials-title
{
    margin: 15px 0;
}
.testimonials .content img{
    position: relative;
    left:-30px;
}
.newsletter-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;    
}
.statistics-title{
    margin: 50px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}
.statistics{
    background: #231A36;
    color: #E3E3EA;
    text-align: center;
}

.navbar ul li ,.bottomnav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0 10px;
}
.navbar ul li a, .navbar .brand-name, .navbar div a{
    color: white;
}
.bottomnav ul li a, .bottomnav .brand-name, .bottomnav div a{
    color: #1A1A1A;
}
.bottomnav{
    border-bottom: 1px solid #E3E3EA;
    padding: 40px 0;
    margin: 20px 0;
}
.hero-body{
    position: relative;
}
.hero-body .content .details {
    position:absolute;
    top: -80px;
}
.hero-body .content .details p{
    margin: 40px 0;
}
.groupimg{
    position:absolute;
    right:0;
    top: -260px;
}
.hero-footer span{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #B2B7BE;
}
.hero-footer{
    margin-top: 370px;
    text-align: center;
}
.hero-footer div{
    display: flex;
    column-gap: 30px;
    margin: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-body h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 84px;
    line-height: 78px;
    color: #111439;
}
.hero-body p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #425466;
}
.features-title{
    margin: 20px 0;
}
.features-body .content{
    margin: 10px 0;
}
.features-body p{
    margin: 10px 0;
}
.features-body .btnlearnmore{
color: #42424A;
}
.btnlearnmore{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
text-align: center;
}
.products .btnlearnmore{
color: #B33CDB;
}
.btnlearnmore img{
    margin: 0 5px;
}
footer div p{
    text-align: center;
}
.navbar,.bottomnav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
footer .icons img{
    padding: 0 10px;
}
.statistics .content{
    margin: 30px 0;
}
.statistics .content p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
text-align: center;
letter-spacing: 0.01em;
color: #7B9292;

}
.numerics{
    margin: 70px 0;
    display: flex;
    justify-content: center;
    column-gap: 50px;
    align-items: center;
    
}
.numerics .amount{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px; 
    color: #FFFFFF;
}
.numerics .value{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #7B9292;
}
.numerics div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.products .card{
    display: flex;
    column-gap: 70px;
}
.products .card div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: flex-start;
    margin: 15px 0;
}
.products .caption h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3B3B43;
    margin: 10px 0;
}
.products .content-wrapper{
    position: relative;
}
.products .caption{
    padding: 30px;
    position:absolute;
    top: 250px;
background: #FFFFFF;
box-shadow: 0px 40px 100px -30px rgba(0, 0, 0, 0.04);
border-radius: 0px 0px 2px 2px;
}
.products .card .specification{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 10px;

color: #ADADBA; 
}
.products .card .amount{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #1F1F26;
}

.products {
    margin: 60px 0;
}
.products .title p{
    margin: 15px 0;
}
.products .content{
    margin: 90px 0;
    display: flex;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
}
.products .title{
    text-align: center;
}
.hero-body .content{
    display: flex;
    
}
.influencer, .community, .services{
    display: flex;
    align-items: center;
}
.influencer .header span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
    color: #B33CDB;
}
.community .header span{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #FBBA33;
}
.services .header span{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.2em;
text-transform: uppercase;

color: #DE2879;
}
.influencer-title,.community-title,.services-title{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 40px;
color: #1F1F26;
}
.features-header{
    text-align: center;
}
.features-body{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.testimonials .card{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-items: center;
    
}
.testimonials-header{
    text-align: center;
}
.testimonials .content p{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    color: #6D6D6D;
}
.testimonials .content .name{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
color: #1C1C1D;
}
.testimonials .content .position{
    
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #9C988F;
}
.copyright-info p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #959595;
}

@media screen and (max-width: 900px) {
    .container{
        padding: 25px 50px;
    }
    .groupimg{
        display: none;
    }
    .hero-body .content .details {
        top: -350px;
        text-align: center;
        left: 20%;
    }

    .section1 .container, .navbar{
        background: #111439;
    }
    .navbar,.bottomnav{
        flex-direction: column;
        justify-content: center;
        
    }
    .navbar ul li{
        display: block;
    }
    .btnrequest{
        display: none;
    }
    .products{
        height: auto;
    }
    .products .content{
        flex-direction: column;
        justify-content: center;
        row-gap: 30px;
        align-items: center;
    }
    .testimonials img{
        display: none;
    }
    .testimonials .card{
        display: flex;
        justify-content: center;
        margin: 50px 0;
        text-align: center;
        align-items: center;
        
    }

    .products .caption{
        position: static;
    }

    .features-body img{
        display: none;
    }
    .influencer, .community, .services{
        margin: 20px 0;
    }
    .numerics{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        
    }
    .hero-footer{
        margin-top: 0px;
    }
    .hero-footer div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }
    .newsletter-content{
        padding:50px 0;
        width: 300px;
    }
    .bottomnav{
        border: none;
    }
    .bottomnav ul li{
        display: block;
    }
   
    .hero-body h1{
        font-size: 64px;
    }
    .statistics-title{
        font-size: 30px;

    }
    .numerics .amount{
        font-size: 30px;
    }
}